<a href="https://colab.research.google.com/github/damilola2010/week2_ibm_data_visualization/blob/master/Data_visualization_ibm_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Area Plot

Commonly used to represent cummulated tools using numbers or percentages oveer time. It is based on line plot and commonly used when trying to compare two or more quantities.

# Histogram

It represents the frequency distribution of a variable

# Bar Chart

It is popular and unlike histogram, it is used to compare bthe values of variable at a given point in time. The length of each bar is proportional to the value of the item that it represents.

# Working with our data

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

# Importing the dataset

In [2]:
df_canada = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2
                      )

print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

In [3]:
df_canada.head()

         Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2  Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4  Immigrants  Foreigners         Andorra   908  ...     0     0     1     1

[5 rows x 43 columns]

In [5]:
print(df_canada.shape)

(195, 43)

# Data cleanup

In [6]:
#drop the unnecessary columns
df_canada.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)

In [7]:
df_canada.head(5)

           OdName AreaName          RegName  ...  2011  2012  2013
0     Afghanistan     Asia    Southern Asia  ...  2203  2635  2004
1         Albania   Europe  Southern Europe  ...   539   620   603
2         Algeria   Africa  Northern Africa  ...  4325  3774  4331
3  American Samoa  Oceania        Polynesia  ...     0     0     0
4         Andorra   Europe  Southern Europe  ...     0     1     1

[5 rows x 38 columns]

In [8]:
#Rename the columns
df_canada.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)

In [9]:
df_canada.head(3)

       Country Continent           Region  ...  2011  2012  2013
0  Afghanistan      Asia    Southern Asia  ...  2203  2635  2004
1      Albania    Europe  Southern Europe  ...   539   620   603
2      Algeria    Africa  Northern Africa  ...  4325  3774  4331

[3 rows x 38 columns]

In [11]:
#Check if all columns are string
all(isinstance(column, str) for column in df_canada.columns)

False

In [13]:
#Convert them to string
df_canada.columns = list(map(str, df_canada.columns))

In [14]:

all(isinstance(column, str) for column in df_canada.columns)

True

In [16]:
#Set the country name as index 
df_canada.set_index('Country', inplace=True) #useful for quickly looking up countries using .loc method.

In [17]:
df_canada.head()

               Continent           Region             DevName  ...  2011  2012  2013
Country                                                        ...
Afghanistan         Asia    Southern Asia  Developing regions  ...  2203  2635  2004
Albania           Europe  Southern Europe   Developed regions  ...   539   620   603
Algeria           Africa  Northern Africa  Developing regions  ...  4325  3774  4331
American Samoa   Oceania        Polynesia  Developing regions  ...     0     0     0
Andorra           Europe  Southern Europe   Developed regions  ...     0     1     1

[5 rows x 37 columns]

In [18]:
#Create a total column
df_canada['Total'] = df_canada.sum(axis=1)

In [19]:
df_canada.head()

               Continent           Region  ...  2013  Total
Country                                    ...
Afghanistan         Asia    Southern Asia  ...  2004  58639
Albania           Europe  Southern Europe  ...   603  15699
Algeria           Africa  Northern Africa  ...  4331  69439
American Samoa   Oceania        Polynesia  ...     0      6
Andorra           Europe  Southern Europe  ...     1     15

[5 rows x 38 columns]

In [20]:
print ('data dimensions:', df_canada.shape)

data dimensions: (195, 38)

# Visualization

In [21]:
# use the inline backend to generate the plots within the browser
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('ggplot') # optional: for ggplot-like style

# check for latest version of Matplotlib
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

Matplotlib version:  3.2.2

# Area Plot